<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/auth/login">Inicios de sesion <span class="sr-only">(current)</span></a>
          </div>
      </nav>
</header>

<section>

    <div class="row justify-content-center mt-5">
        
        <div class="contenedorF">
            <h1 class="text-center mt-5">Recuperar Contraseña</h1>

            <p class="parrafo">
                Cuando oprima el boton la contraseña se enviara al correo official del IMMSS Mante
            </p>

            <div class="row p-3">
                <div class="col">
                    <button class="btn btn-info" (click)="senMail()">Recuperar Contraseña</button>
                </div>
            </div>
        </div>
        
       </div>

</section>
