<div class="row">
    <div class="barra-lateral col-12 col-sm-auto">
        <div class="logo">
            <h2><i class="fas fa-eye mr-4S mr-3"> </i>Vision</h2>
        </div>
        <nav class="menu d-flex d-sm-block justify-content-center flex-wrap p-2">
            <a routerLink='ingresar-usuario'><i class="fas fa-home mr-3"></i><span>Ingresar Empleados</span></a>
            <a routerLink='camillas'><i class="fas fa-edit mr-3"></i><span>Administrar camillas</span></a>
        </nav>
    </div>
    <main class="col">
    <router-outlet></router-outlet>
    </main>
</div>